* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 60%;
  padding: 0 2%;
  min-width: 540px;
  margin: 0 auto;
}

.main-header {
  box-shadow: 2px 0 5px 2px #ccc;
  margin-bottom: 80px;
}

.main-header__top {
  overflow: hidden;
  background: 
    url(../img/ellipse-1.png)0 0, url(../img/ellipse-2.png)288px 26px, url(../img/ellipse-3.png)786px 3px, url(../img/ellipse-2.png)1304px -66px, url(../img/ellipse-5.png)1029px 47px, url(../img/ellipse-6.png)1146px 13px, url(../img/ellipse-7.png)1442px 30px;
  background-color: #009357;
  background-repeat: no-repeat;
}

.main-header__logo,
.main-header__desc {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 20px;
}

.main-header__desc {
  color: #fff;
  font-size: 20px;
  padding: 0;
}

.main-header__exit {
  float: right;
  color: #fff;
  padding: 20px 100px 20px 0;
  text-transform: uppercase;
}

.main-header__list {
  display: flex;
  flex-wrap: wrap;
}

.main-header__list a {
  display: block;
  padding: 15px 25px;
  color: #757575;
  text-transform: uppercase;
}

.main-header__list--activeitem {
  background-color: #d6d6d6;
}

.place-list {
  width: 96%;
  border-radius: 2px;
  box-shadow: 0 0 3px 2px #e0e0e0;
}

.place-list__item {
 padding: 15px 17px 0;
  border-bottom: 2px solid #e0e0e0;
  position: relative;
  overflow: hidden;
}

.place-list__item>div {
  float: left;
}

.place-list__image {
  width: 152px;
  height: 150px;
  overflow: hidden;
  margin-right: 2%;
  background: #f3f3f3 url(../img/no-image.png)center no-repeat;
  background-size: contain;
}

.place-list__desc {
  width: calc(100% - 170px);
  padding: 5px;
}

.place-list__title {
  font-size: 24px;
  color: #212121;
  margin: 0 0 7px;
      font-weight: normal;
}

.place-list__adress span {
  color: #747474;
  margin-right: 10px;
}

.place-list__contact {
  color: #747474;
  margin-top: 13px;
}

.place-list__features {
  margin: 15px 0 5px;
  line-height: 16px;
  text-align: justify;
}

.star {
  background: url(../img/star-full.png)center top no-repeat;
}

.unstar {
  background: url(../img/unstar.png)center top no-repeat;
}

#stars,
.place-list__rate--ratio{
 float: left;
}

.place-list__rate--ratio {
  color: #747474;
  font-size: 12px;
  line-height: 40px;
  display: inline-block
}

.create-event {
  float: right;
  color: #1e88e5;
  text-transform: uppercase;
  font-weight: 600;
  visibility: hidden;
  cursor: pointer;
  line-height: 40px;
}

.place-list__item:hover .create-event,
.place-list__item:hover .item-action {
  visibility: visible;
}

.place-list__item:hover .place-list__title {
  color: #1e88e5;
}
.contact-us{
  padding: 10px 25px;
  display: inline-block;
  position: fixed;
  right: -75px;
    top: 258px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  color: #9a9a9a; 
  box-shadow: 0 0 3px 1px rgba(144, 134, 134, 0.52);
}
/*star rating */

/*---------------actions-----------------------------*/

.actions {
  overflow: hidden;
  width: 60%;
}
.actions>div{
  width: 24.2%;
  float: left;
}
.wrap-action>div{
	margin: 5px;
	color: #fff;
	cursor: pointer;
  background-color: rgba(106, 106, 106, 0.94);
  text-align: center;
}
.add-new{
  height: 115px;
  padding: 45px 5px 0;
}
.remove-checked,
.remove-all,
.history-added,
.history-removed{
  height: 54px;
  text-align: center;
  padding: 10px;

}
.wrap-count>div{
 height: 35px;
  line-height: 35px;
  position: relative;
  cursor:auto;
}

.wrap-action>div:hover{
  outline: 2px solid #3e3e3e;
}
.wrap-count>div:hover{
  outline: none;
}
.wrap-count span{
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: -10px;
  top: -5px;
  border-radius: 50%;
  background-color: #d10000;
  text-align: center;
  line-height: 18px;
  border: 2px solid #ffffff;
  font-weight: 600;
}

.item-action{
  visibility: hidden;
  position: absolute;
  right: 2px;
}
.item-action li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.item-action__choise li{
	width: 30px;
	height: 30px;
	margin: 2px 0;

}
.favorite{
	background: url(../img/unstar.png) center no-repeat;
}
.colorStar{
	background: url(../img/star-full.png) center no-repeat;
}
.remove{
		background: url(../img/delete.png) center no-repeat;
	background-size: 70%;
}
.select{
		background: url(../img/checked.png) center no-repeat;
 	background-size: 50%;
}
.checkedItem{
		background: url(../img/checked_hover.png) center no-repeat;
 	background-size: 60%;
}
.hidden{
	display: none;
}

.checked-bg{
  background-color: rgb(235, 235, 235);
}
.deleted-bg{
  background-color: rgba(255, 55, 55, 0.82);
}
.border-favorite{
  box-shadow: inset 0 0 2px 2px gold;
}
.modal-window,
.modal-window__added,
.modal-window__removed{
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;left: 0;
  background-color: rgba(18, 18, 18, 0.49);
}

.createNewPost{
  display: block;
  width: 500px;
  height: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top:-210px ;
  margin-left: -250px;
  box-shadow: 0 0 2px 3px #ccc;
  text-align: center;
  border-radius: 5px;
  background-color: #ededed;
}

.createNewPost>input,
.createNewPost>textarea,
.createNewPost>button{
  display:block;
  width: 90%;
  margin: 5px auto;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}
.createNewPost button,
.createNewPost [type="reset"]{
  width: 45%;
  display: inline-block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}
.createNewPost button{
  background-color: rgba(10, 147, 15, 0.98);
}
.createNewPost [type="reset"]{
  background-color: rgba(255, 82, 82, 0.98);
}
.modal-window__close-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  background-color: rgb(183, 0, 0);
  top: -10px;
  right: -10px;
  border-radius: 50%;
  line-height: 20px;
   color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 0 0 2px 3px;
  cursor: pointer;
}

.history-wrap {
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -220px;
  width: 540px;
  margin: 50px auto: ;
  background-color: #cbcbcb;
}
.history-title{
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  text-transform: uppercase;
}
.history-list{
  text-transform:uppercase;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}
.history-item__removed,
.history-item__added{
  padding: 10px;
  font-style: italic;
  background-color: #e5e5e5;
}
